*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #fff;
    --primary-shade: #f7f5f2;
    --secondary-colour: #000;
    --secondary-shade: #4b4c4c;
    --red-colour: #d40700;
    --red-shade: #b20600;
    --accent-colour: #ffee63;
}

.nav-bar{
    padding: 30px 0;
}
span{
    color: var(--red-colour);
}

ul li a{
    margin: 0 10px;
    padding: 0 5px;
    color: var(--accent-colour);
    font-size: 18px;
    cursor: pointer;
    position: relative;
}
ul li a::before{
    content: '';
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: var(--primary-colour);
    transition: 0.6s ease;
}
ul li a:hover::before{
    width: 100%;
}

.btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--red-colour);
    color: var(--primary-colour);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    font-weight: 500;
}
.btn:hover{
    background-color: var(--red-shade);
    color: var(--primary-shade);
    border: 2px solid var(--red-colour);
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(249, 241, 241);
    padding: 9px 25px;
    transition: all ,5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

ul li a{
    margin: 0 10px;
    padding: 0 5px;
    color: var(--accent-color);
    font-size: 20px;
    cursor: pointer;
}

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 789px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('img.jpg') no-repeat center center/cover;
    height: 850px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
   /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}